venv
config.py
cred.json
.env
__pycache__
cred.json
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pid
*.swp
*.bak
*.tmp
*.DS_Store
*.idea
*.vscode
*.egg-info
dist
build
*.egg
*.whl
*.tar.gz
*.zip
*.rar
*.7z
*.gz
*.bz2
*.xz
*.tar
*.tgz
*.pkl
*.pickle
*.db-journal
*.sqlite-journal
*.sqlite-wal
*.sqlite-shm
